@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

main {
    max-width: 1040px;
    margin: 40px auto;
}

.description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;

}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    padding: 10px 20px;
    width: 6.5rem;
    color: #FFF;
    border: none;
}

.section-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}


/* header section styles */
header {
    max-width: 1040px;
    margin: 20px auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menubar {
    display: none;
}

.tour-quality {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 800px;
}

.speacial {
    color: #FF5400;
}

nav ul {
    display: flex;
    justify-content: space-evenly;

}

nav li {
    list-style: none;

}

li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;
}

.home-bar {
    color: #FF5400;
}

/* Banner section styles */

.banner-section {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png") no-repeat;
    background-size: cover;
    padding-bottom: 16px;
    background-position: center;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    text-align: center;
    font-weight: 800px;
    padding-top: 80px;
}

.place-select {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    margin: 3.5rem;
    gap: 1.5rem;
    color: #FFF;
    ;

}

.place-select input,
.place-select select,
.place-select button {
    justify-content: center;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.place-select button {
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
}

/* Popular sections tours styles */

.popular-tour-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 0px;
    width: 100%;
}

.popular-content {
    width: 100%;
}

.popular-tour-section img {
    width: 100%;
}

/* Tour Destination section styles */

.destinations div,
.more-destinations div {
    color: #FFF;
    font-size: 28px;
    height: 250px;
    width: 100%;
    margin-right: 20px;
    font-weight: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;

}

.maldives {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 5.png"), lightgray 50% repeat no-repeat;
    background-repeat: no-repeat;
}

.indonesia {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 8.png"), lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
}

.srilanka {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 6.png"), lightgray 50% / cover no-repeat;
}

.north-america {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 7.png'), lightgray 50% / cover no-repeat;
}

.kashmir {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 9.png'), lightgray 50% / cover no-repeat;
    background-size: 100%;

}

.kashmir img {
    width: 100%;
}

.bangladesh {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 11.png"), lightgray 50% / cover no-repeat;
}

.bandarban {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 10.png"), lightgray 50% / cover no-repeat;
    background-size: 100%;
}

.kashmir {
    grid-area: kashmir;
}

.north-america {
    grid-area: north-america;
}

.maldives {
    grid-area: maldives;
}

.indonesia {
    grid-area: indonesia;
}

.srilanka {
    grid-area: srilanka;
}

.destinations {
    display: grid;
    gap: 30px;
    grid-template-areas:

        "indonesia     indonesia     maldives        maldives"
        "kashmir      north-america   north-america   srilanka";

}

.more-destinations {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 30px;
    gap: 30px;
    margin-bottom: 20px;
}

/* My next Tour destination section styles */
.my-next-tour-destinations img {
    width: 50%;
    width: 50%;
}

.my-tour-description,
.my-tour-title {
    text-align: center;
    padding: 0rem 3rem;
    font-weight: bolder;
}

.place-title {
    text-align: center;
    color: gray;
}

.rangamati-pic {
    display: flex;
    width: 100%;
    gap: 1.3rem;
}

.sajek-vally-pic {
    display: flex;
    width: 64%;
    gap: 1.3rem;
}

.sylhet-pic {

    display: flex;
    display: none;
    height: 300px;
    gap: 1.3rem;
}


/* <!-- Why choose us section styles --> */

.our-quality {
    display: flex;
    gap: 25px;
}

.our-quality img,
.another-quality img {
    width: 10%;
}

.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px 10px;
    margin-top: 10px;
}

.quality-title {
    color: #131318;
    font-size: 24px;
    font-weight: 700;
}

.map {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px 10px;
    margin-top: 10px;
}

.another-quality {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 30px 10px;
    width: 50%;
    margin: 24px auto;
}

/* deal & discount sections styles */

.discount-img {
    height: 500px;
    margin-bottom: 2rem;
    border-radius: 16px;
    background: url("../Images/Group\ 39.png"), lightgray 50% / cover no-repeat;
}

.discount-info span {
    margin-right: 1.5rem;
}

.color {
    color: red;
}

.discount-info {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 1.1rem;
    width: 45%;
    margin: 0px auto;
    position: relative;
    top: 4rem;
    left: 14.5rem;
}

.discount-second-img {
    border-radius: 16px;
    background: url("../Images/Group\ 40.png"), lightgray 50% / cover no-repeat;
    height: 500px;
    margin-bottom: 2rem;
    border-radius: 16px;
}

.discount-second-img>.discount-info {
    left: -13rem;
}

.packages-btn {
    width: 50px;
    margin: 0px auto;
    border: 0px;
}

/* perfect place styles */

.perfect-place {
    margin-top: 50px;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.perfect-place img {
    width: 100%;
    
}

.perfect-place>ul {
    color: #0c0c0c;
    font-size: 20px;
    font-weight: 800;
}

/* Newsletter section styles */
.newsletter-section {
    margin-top: 80px;
    display: flex;
    gap: 20px;
}

.content {
    border: 1px solid #FF5400;
    border-radius: 10px;
    width: 45%;
    padding: 25px;

}

.content input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 95%;
    height: 10%;
    border: 0px;
    padding: 10px;
    margin-top: 10px;
}

.content input[type="submit"] {
    background-color: #FF5400;
    height: 15%;
    width: 100%;
    color: white;
}

.discount-btn {
    border-radius: 16px;
    background: #FF5400;
    border: 0px;
    width: 37%;
    height: 22%;
    color: white;
    position: relative;
    transform: rotate(-45deg);
    top: -36%;
    left: 63%;
}



.content-img img {
    width: 100%;
    height: 100%;
}

/* footer sections styles */

.footer-section {
    background: rgba(19, 19, 24, 0.05);
}

.footer-title {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    gap: 1.5rem;
}

.footer-description {
    padding: 0rem 5rem;
    text-align: center;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer-line {
    margin: 3rem 6rem;
}

.copyright-info {
    text-align: center;
    padding: 0rem 6rem 2rem 6rem;
    /* margin-bottom: 1.5rem; */
}