@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;

}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    padding: 10px 20px;
    width: 20%;
    color: #FFF;
}


/* header section styles */
header {
    max-width: 1050px;
    margin: 30px auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menubar {
    display: none;
}

.tour-quality {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 800px;
}

.speacial {
    color: #FF5400;
}

nav ul {
    display: flex;
    gap: 40px;
}

nav li {
    list-style: none;

}

li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-weight: bold;
}

.home-bar {
    color: #FF5400;
}

/* Banner section styles */

.banner-section {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png") no-repeat;
    height: 500px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    text-align: center;
    font-weight: 800px;
    padding-top: 80px;
}

.place-select {
    display: flex;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    width: 90%;
    margin: 40px auto;
    gap: 20px;

}

.place-select input {
    justify-content: center;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.place-select .search-bar {
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
}

/* Popular sections tours styles */

main {
    max-width: 1050px;
    margin: 50px auto;
}

.popular-tour-section {
    display: flex;
    gap: 10px;
    height: 550px;
    padding: 10px;
}
