/* Responsive for media query */
/* small devices */

@media screen and (max-width: 576px) {
     nav,
     nav ul,
     .place-select,
     .popular-tour-section,
     .our-quality,
     .newsletter-section{
        flex-direction: column;
    }
    .place-select{
        grid-template-columns: auto;
    }
    
    .nav-list{
        display: none;
    }
    .banner-section{
        height: auto;
        background-size: cover;
        padding-bottom: 16px;
    }
    .menubar{
        display: inline;
        margin-top: 5px;
    }
    .banner-title{
        padding: 5px;
        margin: 0px;
        font-weight: 400px;
        font-size: 50px;
    }
    .place-select{
        padding: 0px;
        margin: 0px auto;
        gap: 10px;
        width: 50%;

    }
    .popular-tour-section img{
        width: 100%;
    }
    .destinations{
        display: grid;
        gap: 30px;
        grid-template-areas: 
         "maldives"
        "indonesia"
        "srilanka"
        "north-america"
        "kashmir";
        
    }
    .more-destinations{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .destinations div, .more-destinations div {
        color: #FFF;
        font-size: 28px;
        height: 200px;
        width: 90%; 
        margin: 0px auto;
    }
    
    .another-quality{
        width: 95%;
    }
    .content, .content input{
        width: 88%;
        margin: 10 auto;
        padding: 10px 20px;
    }
    .content input[type="submit"]{
        width: 100%;
        margin: 10 auto;
        padding: 10px 20px;

    }
    .our-quality{
        height: auto;
    }
    .map{
        width: 100%;
        margin-top: 0px;
        padding: 0px 10px;
    }
    .discount-btn {
        top: -135px;
        left: 60%;

}
}

/* responsive for tablet */

@media screen and (min-width: 577px) and (max-width: 1001px) {
    .place-select{
        grid-template-columns: auto auto;
    }
    
}