/* Responsive for media query */
/* small devices */

@media screen and (max-width: 576px) {
    nav, nav ul, .place-select, .popular-tour-section {
        flex-direction: column;
    }
    
    .nav-list{
        display: none;
    }
    .menubar{
        display: inline;
        margin-top: 5px;
        margin-left: 40px;
    }
    .banner-title{
        padding: 5px;
        margin: 0px;
        font-weight: 400px;
        font-size: 50px;
    }
    .place-select{
        padding: 0px;
        margin: 0px auto;
        gap: 10px;
        width: 50%;

    }
    .popular-tour-section img{
        width: 100%;
    }
    
}