/* Responsive for media query */
/* small devices */

@media screen and (max-width: 576px) {
    nav, nav ul, .place-select, .popular-tour-section {
        flex-direction: column;
    }
    
    .nav-list{
        display: none;
    }
    .menubar{
        display: inline;
        margin-top: 5px;
        margin-left: 40px;
    }
    .banner-title{
        padding: 5px;
        margin: 0px;
        font-weight: 400px;
        font-size: 50px;
    }
    .place-select{
        padding: 0px;
        margin: 0px auto;
        gap: 10px;
        width: 50%;

    }
    .popular-tour-section img{
        width: 100%;
    }
    .destinations{
        display: grid;
        gap: 30px;
        grid-template-areas: 
         "maldives"
        "indonesia"
        "srilanka"
        "north-america"
        "kashmir";
        
    }
    .more-destinations{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .destinations div, .more-destinations div {
        color: #FFF;
        font-size: 28px;
        height: 200px;
        width: 90%; 
        margin: 0px auto;
    }
    .tour-destination-section{
        margin-top: 500px;
    }
    
}